<!DOCTYPE html>
<html>
  <head>
    <title>Message report</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag('jquery.js') %>
    <%= javascript_include_tag('bootstrap.js') %>
    <link rel="stylesheet" type="text/css" href="source/font-awesome-4.5.0/css/font-awesome.css">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,400italic">
  </head>

  <body>
    <div class="allcontain">
  <div class="header">
      <ul class="givusacall">
        <li>Message Report </li>
      </ul>
      <ul class="logreg">
        <li><span> Analyze </span> | </li>
        <li><span> Sort </span> | </li>
     </ul>
  </div>
    <%= yield %>
  </body>
</html>
